body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../img/bg_mk.png");
  background-size: cover;
}

.App {
  margin: auto 0;
}

.kitten-card {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 10px;
	background-image: url("../img/default.png");
	background-size: contain;
	background-repeat: no-repeat;
}